#################
## IntelliJ
#################
.idea/

#################
## Maven
#################
target/

#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.apt_generated
.loadpath

